.nav{
  padding: 20px;
  letter-spacing: 2px;
  display: flex;
  font-family: $ff-body;
  
  &-item{
    margin-left: auto;
    color: black;
    text-decoration: none;
    transition: .5s ease-in-out;

    &:hover{
    box-shadow: 1px 1px 6px 5px black;
    }
  }
}

.glitch {
  position: relative;
  color: white;
  mix-blend-mode: lighten;

  &:before,
  &:after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      width: 100%;
      background: black;
      clip: rect(0, 0, 0, 0);
  }
  
  &:before {
      left: -1px;
      text-shadow: 1px 0 rgba(red,0.7);
  }

  &:after {
      left: 1px;
      text-shadow: -1px 0 rgba(blue,0.7);
  }

  &:hover {
    &:before {
      text-shadow: 4px 0 rgba(red,0.7);
      animation: glitch-loop-1 0.8s infinite ease-in-out alternate-reverse;
    }
    &:after {
      text-shadow: -5px 0 rgba(blue,0.7);
      animation: glitch-loop-2 0.8s infinite ease-in-out alternate-reverse;
    }
  }
}

@keyframes glitch-loop-1 {
  0% { clip: rect(36px, 9999px, 9px, 0) }
  25% { clip: rect(25px, 9999px, 99px, 0) }
  50% { clip: rect(50px, 9999px, 102px, 0) }
  75% { clip: rect(30px, 9999px, 92px, 0) }
  100% { clip: rect(91px, 9999px, 98px, 0) }
}

@keyframes glitch-loop-2 {
  0% { top: -1px; left: 1px; clip: rect(65px, 9999px, 119px, 0) }
  25% { top: -6px; left: 4px; clip: rect(79px, 9999px, 19px, 0) }
  50% { top: -3px; left: 2px; clip: rect(68px, 9999px, 11px, 0) }
  75% { top: 0px; left: -4px; clip: rect(95px, 9999px, 53px, 0) }
  100% { top: -1px; left: -1px; clip: rect(31px, 9999px, 149px, 0) }
}


.landing{
  background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-375080.jpg) center center no-repeat;
  background-size: cover;
  height: 100%;
  width: auto;
  min-height: 620px;

  &-body{
    justify-content: center;
    align-items: center;
    height: 89vh;
    width: auto;
    display: flex;
  }
}

.name{
  font-family: $ff-title;
  font-size: 5em;
  text-shadow: 2px 2px 6px #e34c6b;
  color: transparent;
  margin-top: -3.25em;
  transition: 2s ease-in-out;
}

.web{
  font-family: $ff-title;
  position: absolute;
  top: 57%;
  font-size: 4em;
  text-shadow: 2px 2px 5px #e7b377;
  color: transparent;
  margin-top: -2em;
  transition: 2s ease-in-out;
}

.body-items{
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .name{
    transition: 2s;
    color: #e34c6b;
    font-size: 7em;
    margin-top: -1em;
    text-shadow: 2px 20px 5px #131313;
  }
  &:hover .web{
    transition: 2s;
    color: #e7b377;
    margin-top: -.5em;
    text-shadow: 2px 7px 2px #9e2ac1;
  }
}